/* <!-- collapse all     Ctrl + k + 0 --> */
/* <!-- expand all       Ctrl + k + j --> */
/* <!-- format           Alt + Shift + F (USE WITH CAUTION)--> */
/* <!-- word wrap toggle Alt + z --> */

* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-family:'Cagliostro',sans-serif; */
    /* font-family:'Arial',sans-serif; */
    font-size: 1.1rem;
    margin-left: 5px;
    color: white;
    background-color:rgb(170,185,180);
    background-color:rgb(209, 248, 235);
    background-color:#436850;
    background-color:darkslategrey;
}
h1 {
    /* color:rgba(0,0,255,.7); */
    color:chartreuse;
    /* background-color: rgba(255,255,0,.5); */
    /* background-color:rgb(170,185,180); */
    text-align: center;
    /* font-size: 1.5em; */
}
h2 {
    /* color:rgba(0,0,255,.7); */
    color:blue;
    color:turquoise;
    color:lightgreen;
    border-left: 1px solid yellowgreen;
    border-top: 1px solid yellowgreen;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px 0 0 0;
    /* max-width: fit-content; */
    /* background-color: rgba(255,255,0,.5); */
    /* background-color:rgb(170,185,180); */
    /* text-align: center; */
    /* font-size: 1.4em; */
}

.hr-basic{
    border: 1px solid white;
}

.mySEOelement{
    position:fixed;
    top:0;
    left:0;
    opacity:0;
    width:1px;
    height:1px;
    z-index: -10;
}


form.form-as-table {
    display: table;
}

div.form-as-table {
    display: table-row;
    border-bottom: 1px solid black;
}

label {
    /* border-top: 1px solid chartreuse;
    border-left: 1px solid chartreuse; */
    border-radius: 5px;
    display: table-cell;
    padding-right: 10px;
}
input {
    display: table-cell;
    margin-bottom: 10px;
    color:blue;
    background-color: palegoldenrod;
    width: 13ch;
    left:0;
}
/* input {
    max-width: 13ch;
} */
input[type=button] {
    max-width: 100%;
    padding:0.25ch;
    margin:0.5ch;
    border-radius: 5px;
    background-color: ghostwhite;
}
.input-width-fit-content{
    width:max-content;
}
.input-no-pointer-events{
    pointer-events:none;
}

.driver-records-access-control{
    /* border:1px solid green; */
    /* border-radius: 10px; */
    display:flex;
    flex-direction: column;
}
.driver-records-access-control-button{
    max-width:fit-content;
    cursor:pointer;
    border:1px solid green;
    border-radius: 10px;
    background-color: green;
    color: chartreuse;
    padding:5px 10px 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:auto;
    margin-right:auto;
}
fieldset input{
    color:blue;
    background-color: antiquewhite;
}
.driver-records-container{
    display:none;
    margin-top: 100px;
}
.IndexedDB_rsd_rsdDayBook{
    display:none;
}
.button{
    max-width:fit-content;
    cursor:pointer;
    border:1px solid green;
    border-radius: 10px;
    background-color: green;
    color: chartreuse;
    padding:5px 10px 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:auto;
    margin-right:auto;
}
.button-date{
    max-width:fit-content;
    /* cursor:pointer; */
    border:1px solid black;
    border-radius: 10px;
    background-color: olivedrab;
    color: white;
    padding:9px 10px 9px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:auto;
    margin-right:auto;
}
.button-red{
    max-width:fit-content;
    cursor:pointer;
    border:1px solid green;
    border-radius: 10px;
    background-color: crimson;
    color: white;
    padding:5px 10px 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:auto;
    margin-right:auto;
}

/* DATE NAVIGATION BUTTONS start ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    .driver-day-book{
        /* position: absolute; */
        margin-top: 5px;
    }
    .dateNavigationButtonsContainer{
        display:none;
        flex-direction: column;
        position:fixed;
        top:0px;
        left:10px;
        width:100%;
        /* margin-bottom: 5px; */
        /* padding-left:20px; */
        /* padding-right:20px; */
        user-select: none;
        background-color:darkslategrey;
        border-bottom: 1px solid black;
        z-index: 100;
    }
    .dateNavigationButtonsContainer1of2{
        display:flex;
        flex-direction: row;
        /* position:fixed; */
        /* top:0px; */
        left:10px;
        gap:10px;
        max-width:fit-content;
        /* margin-bottom: 5px; */
        /* padding-left:20px; */
        /* padding-right:20px; */
        user-select: none;
        background-color:darkslategrey;
        /* border-bottom: 1px solid black; */
        z-index: 100;
    }
    .dateNavigationButtonsContainer2of2{
        display:flex;
        flex-direction: row;
        /* position:fixed; */
        /* top:0px; */
        left:10px;
        gap:10px;
        max-width:fit-content;
        /* margin-bottom: 5px; */
        /* padding-left:20px; */
        /* padding-right:20px; */
        user-select: none;
        background-color:darkslategrey;
        /* border-bottom: 1px solid black; */
        z-index: 100;
    }
    .htmlArrowLeft_day{
        /* display:block; */
        /* position:fixed; */
        /* top:0px; */
        /* left:10px; */
        /* padding-left:20px; */
        /* padding-right:20px; */
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    .htmlArrowRight_day{
        /* display:block; */
        /* position:fixed; */
        /* top:0px; */
        /* left:80px; */
        /* padding-left:20px; */
        /* padding-right:20px; */
    }
    .htmlArrowLeft_week{
        /* display:block; */
        /* position:fixed; */
        /* top:0px; */
        /* left:170px; */
        /* padding-left:20px; */
        /* padding-right:20px; */
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    .htmlArrowRight_week{
        /* display:block; */
        /* position:fixed; */
        /* top:0px; */
        /* left:240px; */
        /* padding-left:20px; */
        /* padding-right:20px; */
    }
    .dateFixedPos{
        /* display:block; */
        /* position:fixed; */
        /* top:0px; */
        /* left:150px; */
        /* padding-left:20px; */
        /* padding-right:20px; */
    }
/* DATE NAVIGATION BUTTONS start ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* login FORM start xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

    /* Full-width input fields */
    /* input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    } */
  
    /* Set a style for all buttons */
    /* button {
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    } */

    /* button:hover {
        opacity: 0.8;
    } */
  
    /* Extra styles for the cancel button */
    .cancelbtn {
        max-width:fit-content;
        /* padding: 10px 18px; */
        background-color: #f44336;
        cursor:pointer;
    }
  
    /* Center the image and position the close button */
    /* .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
        position: relative;
    } */
  
    /* img.avatar {
        width: 40%;
        border-radius: 50%;
    }
   */
    .container {
        padding: 16px;
    }
  
    /* span.pw {
        float: right;
        padding-top: 16px;
    } */
  
    /* The Modal (background) */
    .login1, .login2{
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        /* overflow: auto; Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(255,255,255,0.5); /* Black w/ opacity */
        padding-top: 60px;
    }
  
    /* Modal Content/Box */
    .login1-form, .login2-form {
        /* background-color: #fefefe; */
        /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
        /* background-color: rgba(255,255,255,0.5); Black w/ opacity */
        /* background-color: rgba(255,255,255,1);
        background-color: yellow; */
        /* margin: 5% auto 15% auto; 5% from the top, 15% from the bottom and centered */
        margin: auto;
        /* border: 1px solid #888;
        border: 12px chartreuse; */
        /* border-radius: 10px; */
        /* /* width: 80%; */
        max-width: fit-content;
    }
  
    /* The Close Button (x) */
    /* .close {
        position: absolute;
        right: 25px;
        top: 0;
        color: #000;
        color: yellow;
        font-size: 35px;
        font-weight: bold;
    }
  
    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    } */
  
    /* Add Zoom Animation */
    .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s
    }
  
    @-webkit-keyframes animatezoom {
        from {-webkit-transform: scale(0)} 
        to {-webkit-transform: scale(1)}
    }
    
    @keyframes animatezoom {
        from {transform: scale(0)} 
        to {transform: scale(1)}
    }
  
    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
        span.pw {
            display: block;
            float: none;
        }
        .cancelbtn {
            width: 100%;
        }
    }
  
/* login FORM end xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */